.list {
    width: 100%; /* Ширина таблицы */
    border: 1px solid black; /* Рамка вокруг таблицы */
}
TD, TH {
    width: 20%;
    padding: 3px; /* Поля вокруг содержимого ячеек */
}
TH {
    text-align: left; /* Выравнивание по левому краю */
    background: black; /* Цвет фона */
    color: white; /* Цвет текста */
}
.create {
    border: 1px solid white;
}
.head {
    font-size: 200%;
    font-weight: bold;
    width: 60%;
}
.upper-head {
    border: solid black;
    border-width: 1px 1px 0 1px;
    width: 100%;
    font-size: 150%;
    font-weight: bold
}
.mini {
    width: 5% !important;
    font-size: 100%;
}